@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>@ViewBag.Greeting!</h3>
        <h3>We're going to have an exciting party!</h3>
        <h4>And you are invited</h4>
        <a asp-action="RsvpForm" class="btn btn-primary">RSVP Now</a>
    </div>
</body>
</html>
