@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invite</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Greeting!</h3>
        <p>We're going to have an exciting party.<br />
        </p>
        <a asp-action="RsvpForm">RSVP Form</a>
    </div>
</body>
</html>
